
<launch>
  <arg name="num_nodes"/>
  <arg name="num_agents"/>
  <arg name="coord_method"/>
  <arg name="agent_index"/>
  <arg name="desired_altitude"/>
  
  <node pkg="tf" type="static_transform_publisher" name="map_2_world_broadcaster" args="0 0 0 0 0 0 1 world map 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_2_world_broadcaster" args="0 0 0 0 0 0 1 world gps 100" />


  <group ns="dmcts_$(arg agent_index)">
    <node pkg="dmcts" name="dmcts" type="dmcts" output="screen"/>
    <param name="test_environment_number" value="0"/>
    <param name="agent_index" value="$(arg agent_index)"/>
    <param name="world_directory" type="str" value="/home/andy/catkin_ws/src/dmcts_world/worlds/"/>
    <param name="display_map" type="bool" value="false"/>
    <param name="number_of_nodes" value="$(arg num_nodes)"/>
    <param name="number_of_agents" value="$(arg num_agents)"/>
    <param name="coord_method" type="str" value="$(arg coord_method)"/>
    <param name="desired_altitude" type="double" value="$(arg desired_altitude)"/>
    <include file="$(find costmap_bridge)/launch/costmap_bridge_launch.launch"/>
    <include file="$(find my_quad_controller)/launch/pid_controller.launch"/>
  </group>


</launch>
