
<launch>
  <arg name="num_nodes"/>
  <arg name="num_agents"/>
  <arg name="coord_method"/>
  <arg name="agent_index"/>
  <arg name="desired_altitude"/>
  <arg name="p_task_initially_active"/>
  <arg name="pay_obstacle_costs"/>
  <arg name="not_simulation"/>
  <arg name="cruising_speed"/>

  <group ns="dmcts_$(arg agent_index)">
    <node pkg="dmcts" name="dmcts" type="dmcts" output="screen"/>
    <param name="test_environment_number" value="0"/>
    <param name="agent_index" value="$(arg agent_index)"/>
    <param name="world_directory" type="str" value="/home/andy/catkin_ws/src/dmcts_world/worlds/"/>
    <param name="display_map" type="bool" value="false"/>
    <param name="number_of_nodes" value="$(arg num_nodes)"/>
    <param name="number_of_agents" value="$(arg num_agents)"/>
    <param name="coord_method" type="str" value="$(arg coord_method)"/>
    <param name="desired_altitude" type="double" value="$(arg desired_altitude)"/>
    <param name="p_task_initially_active" type="double" value="$(arg p_task_initially_active)"/>
    <param name="pay_obstacle_costs" type="bool" value="$(arg pay_obstacle_costs)"/>
    <param name="cruising_speed" type="double" value="$(arg cruising_speed)"/>
    
    <group if="$(arg not_simulation)">
        <include file="$(find costmap_bridge)/launch/costmap_bridge_launch.launch"/>
        <include file="$(find my_quad_controller)/launch/pid_controller.launch"/>
    </group>
    
    <group>
        <node pkg="xbee_bridge" name="xbee_bridge" type="xbee_bridge.py"/>
        <param name="com_port" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="9600"/>
        <param name="com_type" value="agent"/>
        <param name="fake_agent" value="false"/>
        <param name="agent_index" value="$(arg agent_index)"/>
    </group>
  </group>


</launch>
